.header-bg {
  background: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.header-menu a {
  display: inline-block;
  padding-block: 1rem;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 1.25rem;
  }

  .header-menu a {
    background: var(--cor-11);
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
  }

  .header-menu a:hover {
    background: var(--cor-10);
  }

  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 0.75rem;
  }

  .header-menu a {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
  }
}
